@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.85);
}

.btnPrimary {
  background-color: #fd377e;
  border: 2px solid #fd377e;
  color: #ffffff;
  border-radius: 8px;
  height: 48px;
  padding: 13px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.btnDisable {
  padding: 0 5%;
  background-color: #e9ecef;
  border: 1.4px solid #e9ecef;
  height: 48px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #343a40;
}
