header {
  display: flex;
  width: 100vw;
  height: 88px;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  padding: 0 7%;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .logo {
  width: 122.68px;
  height: 19.53px;
}

@media (min-width: 56.25rem) {
  header {
    padding: 0;
  }

  header div {
    padding: 0 3% 0 5%;
    width: 100vw;
  }
}
